{
  "branches": [
    {
      "name": "development",
      "prerelease": "dev",
      "tagFormat": "dev-${version}"
    },
    {
      "name": "staging",
      "prerelease": "staging",
      "tagFormat": "staging-${version}"
    },
    {
      "name": "main"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/git"
  ]
}
