name: Build app

on:
  push:
    branches: ["main", "staging", "development", "development/*"]
  pull_request:
    branches: ["main"]

env:
  DOCKER_IMAGE: gabidti/app-name # ALTERE COM O NOME DA APLICAÇÃO
  DIR: ./Api

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ${{ env.DIR }}
          push: false
          tags: |
            ${{ env.DOCKER_IMAGE }}:latest
            ${{ env.DOCKER_IMAGE }}:${{ github.sha }}
