name: Test app

on:
  workflow_run:
    workflows: ["Build app"]
    types: ["completed"]

env:
  DIR: ./Api

jobs:
  test:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Run Tests
        run: dotnet test
        working-directory: ${{ env.DIR }}
